/*GoogleMap*/

.mapContainer {
    width: 100%;
    margin-top: 30px;
}

#map {
    width: 100%;
    height: 400px;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

@media (min-width: 1281px) {
    #map {
        height: 450px;
        width: 800px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #map {
        height: 450px;
        width: 800px;
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    #map {
        margin-top: 100px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    #map {
        height: 350px;
        width: 650px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #map {
        height: 300px;
        width: 450px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #map {
        height: 300px;
        width: 100%;
    }
}

/*Background Image*/

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1000;
}

.backgroundImage {
    width: 100%;
    height: 100%;
}

.backgroundImage img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

/*Title*/

.title-bar {
    text-align: center;
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .title-bar {
        margin-top: 60px;
    }
}


#title {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
}

#go {
    font-family: 'Julius Sans One', sans-serif;
    color: #F9A03F;
    font-weight: bolder;
    font-style: italic;
}

/*Info Text*/

.infoText {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 40px;
}

/*Search Bar*/

#locationField {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 1024px) and (min-width: 768px) {
    #locationField {
        margin-top: 60px;
    }
}

#autocomplete {
    width: 100%;
    left: 50%;
    opacity: 0.9;
    border: none;
    padding: 2px 0 2px 5px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) {
    #autocomplete {
        width: 80%;
    }
}

@media (min-width: 576px) {
    #autocomplete {
        width: 55%;
    }
}

@media (min-width: 768px) {
    #autocomplete {
        width: 50%;
    }
}

@media (min-width: 992px) {
    #autocomplete {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    #autocomplete {
        width: 30%;
    }
}

/*Reset Button*/

.twoButtonGroup {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.resetButton {
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50px;
    padding: 5px 30px;
    background-color: #fff;
    border: none;
    transition: all 0.2s ease-in-out;
}

.resetButton:hover {
    background-color: #e0e0e0;
    transition: all 0.2s ease-in-out;
}

.resetButton:focus {
    outline: 0px;
}

/*Buttons*/

.buttonContent {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}

.buttonGroup {
    margin-top: 60px;
    opacity: 0.92;
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    .buttonGroup {
        margin-top: 100px;
    }
}

.restaurantButton {
    width: 100%;
    height: 50px;
    background-color: #44CF6C;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.restaurantButton:hover {
    background-color: #36a058;
    transition: all 0.4s ease-in-out;
}

.restaurantButton:focus {
    outline: 0px;
}

.accommodationButton {
    width: 100%;
    height: 50px;
    background-color: #016FB9;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.accommodationButton:hover {
    background-color: #17609b;
    transition: all 0.4s ease-in-out;
}

.accommodationButton:focus {
    outline: 0px;
}

.barButton {
    width: 100%;
    height: 50px;
    background-color: #F9A03F;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.barButton:hover {
    background-color: #d3893b;
    transition: all 0.4s ease-in-out;
}

.barButton:focus {
    outline: 0px;
}

.cafeButton {
    width: 100%;
    height: 50px;
    background-color: #D72638;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease-in-out;
}

.cafeButton:hover {
    background-color: #aa252c;
    transition: all 0.4s ease-in-out;
}

.cafeButton:focus {
    outline: 0px;
}

/*Help Button*/

#helpButtonBar {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    text-align: right;
    margin-right: 10px;
    text-decoration: underline;
}

#helpButton {
    cursor: pointer;
}

/*Help Button Window*/

.popupWindow {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popupContent {
    width: 600px;
    height: 700px;
    z-index: 1;
    background-color: white;
    border-radius: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 320px) and (max-width: 568px) {
    .popupContent {
        margin-top: 60px;
        height: 600px;
        width: 100%;
        border-radius: 0px;
    }
}

.closeButton {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 50px;
    transform: rotate(45deg);
    cursor: pointer;
}

/*Help Window Title*/

.popupTitle {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.popupText p {
    text-align: center;
    margin-bottom: 40px;
}

.popupText h5 {
    margin-left: 20px;
}

.popupText li {
    padding: 10px;
    list-style: none;
}

.goColor {
    font-family: 'Julius Sans One', sans-serif;
    color: #F9A03F;
    font-style: italic;
}

.exploreFont {
    font-family: 'Julius Sans One', sans-serif;
}

@media (min-width: 320px) and (max-width: 568px) {
    #popHeading {
        font-size: 24px;
    }
    .popupText h5 {
        font-size: 14px;
    }
    .popupText p {
        font-size: 12px;
    }
    .popupText ul {
        font-size: 12px;
    }
}
