/*GoogleMap*/

.mapContainer {
    width: 100%;
}

#map {
    width: 700px;
    height: 400px;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}

@media (min-width: 1281px) {
    #map {
        height: 450px;
        width: 800px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    #map {
        height: 450px;
        width: 800px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #map {
        height: 350px;
        width: 650px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #map {
        height: 300px;
        width: 500px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    #map {
        height: 300px;
        width: 100%;
    }
}

/*Carousel*/

#backgroundCarousel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1000;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.background-images {
    min-width: 100%;
    min-height: 100%;
}

/*Help Button*/

.help-bar {
    text-align: right;
    width: 100%;
}

#helpButton {
    margin-right: 15px;
}

/*Title*/

.title-bar {
    text-align: center;
}

#title {
    margin-top: 5px;
    margin-bottom: 20px;
}

/*Search Bar*/

#locationField {
    text-align: center;
    margin-top: 15px;
}

#autocomplete {
    width: 100%;
    left: 50%;
    opacity: 0.9;
    border: none;
    padding: 2px 0 2px 5px;
    border-radius: 2px;
}

@media (min-width: 320px) {
    #autocomplete {
        width: 75%;
    }
}

@media (min-width: 576px) {
    #autocomplete {
        width: 40%;
    }
}

@media (min-width: 768px) {
    #autocomplete {
        width: 40%;
    }
}

@media (min-width: 992px) {
    #autocomplete {
        width: 35%;
    }
}

@media (min-width: 1200px) {
    #autocomplete {
        width: 25%;
    }
}

/*Search Bar Buttons*/

.twoButtonGroup {
    margin-top: 5px;
    margin-bottom: 20px;
}

.searchButton {
    margin-top: 5px;
    margin-right: 10px;
    border-radius: 50px;
    padding: 5px 25px;
    background-color: #fff;
    border: none;
}

.searchButton:hover {
    background-color: #e0e0e0;
}

.resetButton {
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50px;
    padding: 5px 30px;
    background-color: #fff;
    border: none;
}

.resetButton:hover {
    background-color: #e0e0e0;
}

/*Buttons*/

.buttonContent {
    margin: 10px 0;
}

.restaurantButton {
    width: 100%;
    height: 100%;
    background-color: #44CF6C;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.accommodationButton {
    width: 100%;
    height: 100%;
    background-color: #016FB9;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.barButton {
    width: 100%;
    height: 100%;
    background-color: #F9A03F;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.cafeButton {
    width: 100%;
    height: 100%;
    background-color: #D72638;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50px;
    border: none;
}

.restaurantButton:hover {
    background-color: #3fbf63;
}

.accommodationButton:hover {
    background-color: #0168ad;
}

.barButton:hover {
    background-color: #ed983d;
}

.cafeButton:hover {
    background-color: #c92434;
}
