/*Main Search Area*/

.title {
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    color: black;
}

.go {
    color: green;
}

/*Google Map*/

#map {
    left: 50%;
    transform: translate(-50%);
    height: 400px;
    width: 300px;
}

/*Smartphones*/

@media only screen and (max-width: 320px) {
    #map {
        width: 300px;
    }
}

/*iPads*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #map {
        width: 600px;
    }
}

/*Desktops and laptops*/

@media only screen and (min-width: 1025px) {
    #map {
        width: 800px;
    }
}

/*Map searchbar*/

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

/*Google Map END*/

/*Main Search Area END*/

.square {
    width: 200px;
    height: 200px;
    border: 1px solid;
    color: red;
}
